{
    "env" : {
        "production" : {
            "presets": [["env", { "modules": false }]],
        },
        "development" : {
            "presets": ["env"],
        },
        "test" : {
            "presets": ["env"],
        }
    }
}
