# Don't need .git
.git

# No node modules
node_modules

# Or Go vendor files
vendor

# Or terrain
terrain

# No coverage, and source code isn't needed either
client/coverage
**/*.out

# Minor, but we don't need source files either
client/src

# No tmp files or raw data files
server/terrain/data
server/tmp
