## Project-specific

# Terrain data
terrain/asc
terrain/shp

## Binaries

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Compiled Python
*.pyc

# Dev server
server/tmp

## Vendor

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
vendor
!client/src/js/vendor

# Node
node_modules

## Generated

# Sourcemaps
*.map

## Coverage

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# JS test coverage
coverage
