{{define "index"}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <title>Sceptred</title>

        <link rel="stylesheet" type="text/css" href="{{.Stylesheet}}">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>
    <body>

        <header>
            Sceptred
        </header>

        <div class="container">

            <div id="app">

            </div>

        </div>

        <footer>
            By <a href="http://www.qwghlm.co.uk/">Chris Applegate</a> | <a href="https://github.com/qwghlm/sceptred">Github</a>
            <br>
            Contains OS data © Crown copyright and database right 2017
        </footer>

    <script type="text/javascript" src="{{.Script}}"></script>
    </body>

</html>
{{end}}
