/* Coolors Exported Palette - coolors.co/e5f9e0-392f5a-00120b-1c3144-db3a34 */

/* HSL */
$color1: hsla(108%, 68%, 93%, 1);
$color2: hsla(254%, 31%, 27%, 1);
$color3: hsla(157%, 100%, 4%, 1);
$color4: hsla(209%, 42%, 19%, 1);
$color5: hsla(2%, 70%, 53%, 1);

/* RGB */
$color1: rgba(229, 249, 224, 1);
$color2: rgba(57, 47, 90, 1);
$color3: rgba(0, 18, 11, 1);
$color4: rgba(28, 49, 68, 1);
$color5: rgba(219, 58, 52, 1);