@import "~spectre.css/src/spectre";

// TODO Shrink imports and fix bloody linter

body {
    font-family: Roboto, sans-serif;
}

header {

    background: url(../img/logo.svg) 8px 8px no-repeat;
    background-size: 40px 40px;

    padding: 1rem 0 1rem 56px;
    margin-bottom: 1rem;
    border-bottom: 1px solid #333;

    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.5rem;
    font-weight: bold;
}

.container {

    @media only screen and (max-width: 640px) {
        width: 100%;
    }
    @media only screen and (min-width: 641px) {
        max-width: 640px;
    }
    margin: 0 auto;
}

.debug-stats {
    margin-top: 120px;
}

footer {
    padding-bottom: 2rem;
    margin-top: 1rem;
    font-size: 0.6rem;
    text-align: center;
}
