@import "~spectre.css/src/spectre";

// TODO Shrink imports and fix bloody linter

body {
    font-family: Roboto, sans-serif;
}

header {

    background: url(../img/logo.svg) 8px 8px no-repeat;
    background-size: 40px 40px;

    padding: 1rem 0 1rem 56px;
    margin-bottom: 1rem;
    border-bottom: 1px solid #333;

    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.5rem;
    font-weight: bold;
}

.container {

    @media only screen and (max-width: 640px) {
        width: 100%;
    }
    @media only screen and (min-width: 641px) {
        max-width: 640px;
    }
    margin: 0 auto;
}

.form-wrapper {

    input, button {
        @media only screen and (max-width: 640px) {
            font-size: 140%;
            height: 1.5*1.8rem;
        }
    }

}

.form-autocomplete {
    position: relative;

    .menu {
        position: absolute;
        left: 2px;
        width: calc(100% - 4px);

        top: 38px;
        @media only screen and (max-width: 640px) {
            top: 54px;
        }
    }
}

.canvas-wrapper {

    overflow: hidden;
    max-height: 1000px;

    transition: max-height 400ms;

    &.inactive {
        max-height: 0px;
    }
}

.instructions {
    @media only screen and (min-width: 641px) {
        font-size: 80%;
    }
}

.debug-stats {
    margin-top: 120px;
}

footer {
    padding-bottom: 2rem;
    margin-top: 1rem;
    font-size: 0.6rem;
    text-align: center;
}
