@import "~spectre.css/src/variables";
@import "~spectre.css/src/mixins";
@import "~spectre.css/src/normalize";
@import "~spectre.css/src/base";
@import "~spectre.css/src/typography";
@import "~spectre.css/src/buttons";
@import "~spectre.css/src/forms";
@import "~spectre.css/src/codes";
@import "~spectre.css/src/layout";
@import "~spectre.css/src/menus";
@import "~spectre.css/src/utilities";

// Media

$media-sm: "only screen and (max-width : 640px)";
$media-md: "only screen and (min-width : 641px) and (max-width : 959px)";
$media-lg: "only screen and (min-width : 960px)";

// Dimensions

$padding: 8px;
$header-height: 40px;

// Colors

$black: #333;

body {
    font-family: Roboto, sans-serif;
}

header {

    background: url(../img/logo.svg) $padding $padding no-repeat;
    background-size: $header-height $header-height;

    padding: 1rem 0 1rem 56px;
    margin-bottom: 1rem;
    border-bottom: 1px solid $black;

    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.5rem;
    font-weight: bold;
}

.container {

    margin: 0 auto;

    @media #{$media-sm} {
        width: 100%;
    }
    @media #{$media-md} {
        max-width: 640px;
    }
    @media #{$media-lg} {
        max-width: 800px;
    }
}

.form-wrapper {

    input, button {
        @media #{$media-sm} {
            font-size: 140%;
            height: 1.5 * 1.8rem;
        }
    }

}

.menu .menu-item.fake-hover > a {
    background: #f1f1fc;
    color: #5755d9;
}

.form-autocomplete {

    position: relative;

    .menu {

        position: absolute;
        left: 2px;
        top: 38px;

        width: calc(100% - 4px);

        @media #{$media-sm} {
            top: 54px;
        }
    }
}

// Canvas & its wrapper

.canvas-wrapper {

    overflow: hidden;
    max-height: 960px;

    transition: max-height 400ms;

    &.inactive {
        max-height: 0px;
    }

}

.canvas-wrapper-inner {

    position: relative;
    line-height: 0;

    button.btn-link {

        position: absolute;
        bottom: 0.5rem;
        right: 0.5rem;

        background: rgba(0, 0, 0, 0.5)
    }
}

// Instructions

.instructions {
    @media #{$media-md} {
        font-size: 80%;
    }
}

// Debugger

.debug-stats {
    margin-top: 120px; // Arbitrary
}

// Footer

footer {
    padding-bottom: 2rem;
    margin-top: 1rem;
    font-size: 0.6rem;
    text-align: center;
}
